<% breadcrumb :contacts %>
<div class="row">
  <div class="col-xs-9">
  	<span style="font-size: 36px;">Contacts</span>
    <span class="pull-right">
      <a class="btn btn-medium btn-radius btn-color03 btn-hover03" href="#" data-toggle="modal" data-target="#contactModal">
        <span class="btn-text">ソムリエへメッセ</span>
        <span class="btn-bg"></span>
      </a>
    </span>
  	<hr>





  </div>
  <%= render partial: "layouts/sidebar" %>
</div>


