<% breadcrumb :Privacy %>
<div class='mdl', style="color: black;">
    <section style='font-size: 50px;'>Privacy Policy
    </section>
    <hr>
    <div>
        <h3 style="border-left: 8px solid #c92ad2; margin: 1em 0; padding: 1em;">Vanity Wine Loversのプライバシー・ポリシー</h3>
        <p>このウェブサイトのご利用に先立ち、<a href="/terms_of_use">「利用規約」</a>及び以下の「個人情報保護方針」をよくお読みください。</p>
    </div>
    <hr>
    <h3>第1条.定義</h3>
        <p>用語の定義は個人情報の保護に関する法律に従います。</p>
        <p>個人情報とは、生存する個人に関する情報であって、当該情報に含まれる氏名、emailその他の記述等（文書、図画若しくは電磁的記録（電子的方式、磁気的方式その他人知覚によって認識することができない方式をいう。）で作られる記録をいう。）に記載され、若しくは記録され、又は音声、動作その他の方法を用いて表された一切の事項（個人識別符号を除く）をいう。以下同じ。）により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）、及び、個人識別符号（個人情報の保護に関する法律第２条２項が定めるもの）が含まれるものです。</p>
    <hr>
    <h3>第2条.関係法令・ガイドライン等の遵守</h3>
    <p>当方は、個人情報及び匿名加工情報の取り扱いに関し、個人情報の保護に関する法律及び関連する政令、規則、ガイドライン等を遵守します。</p>
    <p>また、当方は、本プライバシー・ポリシー及び個人情報等の取扱いを継続的に改善するよう努めます。</p>
    <hr>
    <h3>第3条.個人情報の利用目的</h3>
    <p>当方は個人情報を次の目的に利用します。</p>
    <ul>
        <p>・ユーザーの個人認証及びユーザー向けサービスの提供</p>
        <p>・サービスの利用に伴う連絡・各種お知らせ等の配信</p>
        <p>・皆様に有益と思われる企業などの情報のご案内</p>
        <p>・ユーザーの承諾・申込みに基づく、第三者への個人情報の提供</p>
        <p>・属性情報･端末情報・位置情報・行動履歴等に基づく広告・コンテンツ・表示、サービスの提供</p>
        <p>・サービスの改善・新規サービスの開発・分析及びマーケティング</p>
        <p>・サービスに関するご意見、お問い合わせ、クチコミ投稿内容の確認・回答</p>
    </ul>
    <hr>
    <h3>第4条.第三者への提供</h3>
    <p>当方は、本条第2項に記載する場合を除き、当該個人のご承諾がない限り、取得した個人データを、第三者（広告主を含む。）に提供いたしません。有益と思われる広告主の商品情報等をお届けするに際しても、当方は広告主に個人データを開示・提供いたしません。<br>
    次の場合、当方は個人情報を開示・提供することがあります。</p>
    <ul>
        <p>・特別にご同意いただいた場合または開示のお申し出を受けた場合。</p>
        <p>・裁判所、検察庁、警察、弁護士会またはこれらに準じた権限を有する機関から法令等に則って開示を求められた場合。</p>
        <p>・その他法令等に定める正当な理由がある場合。</p>
    </ul>
    <hr>
    <h3>第5条.個人情報の管理</h3>
    <p>当方は個人情報を適切に管理いたします。</p>
    <hr>
    <h3>第6条.個人情報の開示</h3>
    <p>当方は、皆様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、ご本人からの請求であることを確認の上で、ご本人に対し、遅滞なく開示を行います（当該個人情報が存在しないときはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当方が開示義務を負わない場合は、この限りではありません。</p>
    <hr>
    <h3>第7条.個人情報の追加・変更・訂正など</h3>
    <p>当方は皆様の個人情報を正確かつ最新の情報で管理することに努めます。<br>
    当方は、内容が事実でないことを理由とする訂正、追加または削除のご請求、法令に違反して取り扱っていることを理由とする利用の停止もしくは消去または第三者提供の停止のご請求があった時も、調査の上、対応させていただきます。ただし、情報を削除すると提供できない商品及び各種サービスが発生することがあります。</p>
    <address><b>お問合せ先：</b><br>
      	Vanity Wine Loversに関するお問合せ先<br>
      	個人情報管理責任者 <br>
      	仲村拓人<br>
        tzr.schicksal@gmail.com</address>
    <hr>
    <h3>第8条.ご注意</h3>
    <p>当方のサイトは外部のサイトへのリンクを含んでいますが、当方は、リンク先のサイトにおける個人情報保護の取り扱いや、そのサイトの内容に関して一切責任を負いません。<br>
    当方の定期刊行物は、第三者が運営・管理しているサイトにおいても購読申し込みを受け付けています。弊社は、当該第三者から購読申込者の個人情報を取得した場合、このプライバシー・ポリシーに従って適正に管理いたしますが、当該第三者の個人情報の取扱いについては保証できません。第三者のサイトにて定期刊行物のお申込みをされる場合は、当該第三者のサイトのプライバシー・ポリシーを必ずお読みください。<br>
    当方の各サイトには、チャットやフォーラムなどのサービスを提供するものがあります。これらのサービスにおいて利用者が開示した情報は公開情報となります。<br>
    当方が直接または業務委託先等を通じて間接的に個人情報の内容を確認することはありません。万一、このような連絡をお受けになっても返信、回答を絶対にされないようお願いいたします。</p>
    <hr>
    <h3>第9条.当方におけるIPアドレスやクッキーの利用</h3>
    <p>当方は、オフィシャル・サイトのログに記録されたＩＰアドレスを次の目的に利用します。</p>
    <ul>
        <p>・サーバーで問題が発生した場合、その原因を特定し解決するため</p>
        <p>・サイト管理のため</p>
    </ul>
    <p>当方は、そのサイトにおいて、クッキーを使用することがあります。クッキーは、利用者のコンピュータに送信され、保存される少量の情報です。クッキーは、利用者の訪れたページ（ウェブサイト）を特定し、利用者がより便利にサイトを利用することができるようにするために用いられます。たとえば、利用者が会員制サービスを利用する場合、毎回パスワードを入力する必要がないようにするため、利用者に同じ広告を何度もお見せしないように制御するため、有益と思われる情報をお見せするためなどです。<br>
    当方は、クッキーの利用により取得した情報を統計的に処理した集約情報として公表することがありますが、それには個々の利用者を特定できる情報は含まれません。<br>
    利用者は、コンピュータのブラウザの設定により、クッキーの受取り拒否（オプトアウト）をすることや保存されたクッキーを削除することができます。ただし、それにより当方のサイトを最大限に利用できなくなる場合があります。</p>
    <hr>
    <h3>第10条.第三者からのクッキー</h3>
    <p>当方は、そのサイトにおいて第三者の計測システムを利用し、利用者のIPアドレスを取得していますが、これはサイト管理及びアクセス状況を計測するために利用されます。<br>
    利用者は、コンピュータのブラウザの設定により、クッキーの受取り拒否（オプトアウト）をすることや保存されたクッキーを削除することができます。それにより当方のサイトを閲覧することには支障はありませんが、同じ広告が繰り返し画面上に表示されることがあります。</p>
    <hr>

    <div style="text-align: right;">
      <p>このプライバシーポリシーは、2018年6月1日に改訂されました。</p>
    </div>
    <div style="background: rgba( 0, 0, 0, 0.1);">
  	    <div style="margin: 50px;">
            <h3>個人情報保護方針</h3>
            <p>弊社は個人情報保護法その他関連法令を順守いたします。取り扱う個人情報の紛失、滅失、改ざん及び漏洩の防止など、個人情報の安全管理のために必要かつ適切な措置を行います。取得した個人情報は、弊社のプライバシー・ポリシーに定める利用目的の範囲内でのみ利用いたします。個人情報保護のために管理体制を継続的に見直し、改善いたします。</p>
            <div style="text-align: right;">
                <i>2018年6月 仲村拓人</i>
            </div>
        </div>
    </div>
</div>
