<% breadcrumb :Terms_of_Use %>
<div class='mdl', style="color: black;">
    <section style='font-size: 50px;'>Terms of Use
    </section>
    <hr>
    <div>
      <h3 style="border-left: 8px solid #c92ad2; margin: 1em 0; padding: 1em;">利用規約と個人情報保護方針</h3>
       <p>このウェブサイトのご利用に先立ち、以下の「利用規約」および<a href="/privacy">「個人情報保護方針」</a>をよくお読みください。</p>
    </div>
    <hr>
    <h3>ウェブサイトの利用規約</h3>
    <p>このウェブサイトにおいて提供するサービス（以下「本サービス」といいます。）を快適にご利用いただくためにこの利用規約を設定しています。本サービスをご利用になったときは、この利用規約にご同意いただいたものとします。</p>
    <hr>
    <h3>第1条　利用規約の変更および追加</h3>
    <p>当方は、本規約を随時変更することができるものとします。本規約を変更した場合、本サービスに関する一切の事項は変更後の規約によるものとします。本規約の変更は、このウェブサイトで告知されます。利用者は、定期的にご確認ください。</p>
    <hr>
    <h3>第2条　利用資格</h3>
    <p>本規約に同意された利用者のみが本サービスを利用することができます。</p>
    <hr>
    <h3>第3条　利用規約の違反等について</h3>
    <p>本規約に記載されているか、このウェブサイトに追加記載されているかを問わず、利用者が当方の定めた規約に従わない場合または他の利用者に不当に迷惑をかけた場合、当方は、事前の通知なしに次の措置を取ることができるものとします。</p>
    <ul>
        <p>・本サービスの提供を一時停止すること</p>
        <p>・利用資格を取り消すこと</p>
    </ul>
    <p>当方が前項の措置をとったことにより利用者に損害が生じた場合でも、当方は、これを賠償する責めを一切負いません。</p>
    <hr>
    <h3>第4条　本サービスの利用条件</h3>
    <p>利用者は第三者に対して利用者の名前で本サービスを利用させてはならず、利用者は自らの責任で本サービスを利用するものとします。<br>
    利用者は、適法な目的のみに本サービスを利用するほか、本サービスの利用に際し次のような行為をしてはならないものとします。</p>
    <ul>
        <p>・猥褻な表現、残虐な表現、侮辱的な表現など、他人に不快感を与える表現をしようすること。</p>
        <p>・虚偽の事実を表明すること。</p>
        <p>・名誉毀損、信用毀損、悪口、いやがらせまたは罵倒となるような表現を用いること。</p>
        <p>・他の利用者の承諾を得ないで、他の利用者を特定することのできる個人情報を掲載しまたは他の利用者に直接接触しようとすること。</p>
        <p>・当方が認めたものでない広告（リンクを含む。）を掲載すること。</p>
        <p>・個人のプライバシーを侵害すること。</p>
        <p>・他人の特許権、実用新案権、意匠権、商標権、著作権、肖像権その他の権利を侵害すること。</p>
        <p>・コンピューターウイルスを含む情報の掲載・配信等を行うこと。</p>
        <p>・犯罪行為を奨励すること。</p>
        <p>・本サービスを利用者の事業活動に利用すること。</p>
        <p>・日本および諸外国の法令等に違反すること。</p>
        <p>・公序良俗に反すること。</p>
        <p>・当方の通信の秘密、有形・無形の財産または名誉・信用を侵害すること。</p>
        <p>・広告、宣伝、営業活動、公職選挙活動または特定の思想・宗教への勧誘をすること。</p>
        <p>・その他当方が不適当と認めるような行為をすること。</p>
    </ul>
    <p>利用者は、当方が提供する情報の閲覧等をするほかは、方法の如何を問わず、当方のサーバーへのアクセスを行うことはできません。<br>
    利用者は、本サービスにおいて提供する書き込みスペースに利用者が書き込むテキスト、写真等の情報が第三者の著作権等の知的所有権、商標権、営業秘密その他の権利を侵害しないことを保証するものとします。<br>
    利用者は、方法の如何を問わず、本サービスおよびその関連サービスの提供並びにこれらの提供に必要なソフトウェアおよびハードウェアを阻害した り、変更したりまたは妨害したりしないことに同意し、また他の利用者の本サービスの利用を阻害したりまたは妨害したりしないことに同意します。このほか、 本サービスに関する情報を変更したり、改ざんしたりしないことに同意します。<br>
    当方は本サービスにリンクする第三者のサイト（このウェブサイトに掲載する広告の広告主のサイトを含む。）の内容について一切責任を負わないことを利用者は承諾し、本サービスにリンクするサイトの利用は、利用者の責任において行うものとします。<br>
    当方は、メンテナンス等のために利用者に通知をすることなく本サービスを停止しまたは変更することがあります。<br>本サービスの提供を受けるために必要な機器、通信手段などは、利用者の費用と責任で備えるものとします。<br>
    当方は、本サービスに中断、中止その他の障害が生じないことを保証しません。</p>
    <hr>
    <h3>第5条　著作権等の取扱い</h3>
    <p>このウェブサイト上の情報はすべて、当方およびそのライセンサーに帰属します。<br>
    利用者が本サービスに関して提供した情報またはアンケート・インタビュー等への回答として提供した情報の著作権は、その情報が本サービスにおいて 公表されたかどうかを問わず、全て当方に帰属するものとします。ここにいう著作権には、出版権その他の複製権、著作権法第23条に定める権利（公衆送信権 等）、同法第27条に定める権利（翻訳・翻案権）、同法第28条に定める権利（二次的著作物利用権）その他著作権の内容一切を含むものとします。<br>
    利用者は、前項の情報につき、著作者人格権を行使しないものとします。<br>
    当方は第三者の著作権その他の知的所有権を尊重しており、利用者においてもこれを尊重するようしていただきます。当方は、適切な場合、独自の裁量で第三者の著作権その他の知的所有権を侵害する利用者の本サービスへのアクセスを停止することができるものとします。<br>
    利用者が本サービスの利用に際して自己または第三者の作品の複製等、著作権その他の知的所有権を侵害するような行為を知り得たときは、当方にご連絡ください。
    </p>
    <hr>
    <h3>第6条　本サービスに係る情報の複製等の禁止</h3>
    <p>利用者は、本サービスにおいて入手したメッセージ等の情報につき、当方に無断で、複製・公衆送信・頒布・翻案等を行わないものとします。ただし、家庭内で使用するための複製はこの限りではないものとします。</p>
    <hr>
    <h3>第7条　リンク</h3>
    <p>当方は、本サービスにリンクするウェブサイトにおいて次のような行為をすることを認めるものではありません。</p>
    <ul>
        <p>・当方に関する情報を、他のフレーム等で、あたかも当方が表示しているかのように表示すること。</p>
        <p>・第三者の製品またはサービスを当方が保証しているかのようにほのめかすこと。</p>
        <p>・本サービスに関して使用する弊社の商標を弊社の許可なく使用すること。</p>
        <p>・当方および第三者の著作権その他知的所有権を侵害すること。</p>
        <p>・不快な表現、攻撃的な表現その他第三者との間で問題が生ずる虞のある表現含む記述を掲載すること。</p>
    </ul>
    <p>当方は前項に違反するリンクを排除し、適切な措置を取ることができるものとします。</p>
    <hr>
    <h3>第8条　利用者の行為についての責任</h3>
    <p>当方は、本サービスの書き込みスペース等このウェブサイトに利用者が書き込んだ内容を支持したり、同意したりするものではありません。利用者が書き込んだ内容はその利用者の見解に過ぎず、利用者が責任を負うものであり、当方の見解を表すものではありません。<br>
    当方は、利用者が書き込んだ中傷的な事項、不快な事項または違法な内容に関して、他の利用者に対し一切の責任を負うものではありません。<br>
    本サービスの書き込みスペース等このウェブサイトに利用者が書き込んだ情報は、当方の独自の裁量により、通知することなく、当方はこれを編集し、移動しまたは削除することができるものとしますが、当方はその義務は負うものではないものとします。<br>
    利用者の書き込み等の行為により当方が損害を被った場合、利用者は当方に対してこの損害を賠償する責任を負うものとします。
    </p>
    <hr>
    <h3>第9条　個人情報の取扱い</h3>
    <p>当方は個人情報保護法その他関連法令を遵守いたします。利用者が当方に提供する個人情報は、当方のプライバシー・ポリシーで定めた利用目的以外に使用することはありません。この個人情報保護方針は第三者のウェブサイトには適用されません。</p>
    <hr>
    <h3>第10条　本サービスの廃止</h3>
    <p>当方は、都合によりいつでも本サービスを廃止できるものとします。</p>
    <hr>
    <h3>第11条　当方の免責事項</h3>
    <p>利用者は、法律の範囲内で本サービスをご利用ください。本サービスの利用に関連して利用者が日本および諸外国の法令に触れた場合でも、弊社は一切責任を負いません。</p>
    <ul>
        <p>・当方は、その運営するこのウェブサイトにおいて本サービスを提供するに過ぎず、別段合意をする場合を除き、商品の売買契約の当事者となるものではありません。</p>
        <p>・当方は、別段合意をする場合を除き、商品および販売者に関して何ら保証するものではありません。</p>
        <p>・当方は、次の事項およびそれに起因する損害について、一切責任を負いません。</p>
        <p>・利用者が本サービスを通じて得た情報（広告を含む。） </p>
        <p>・本サービスの変更、一時停止、廃止。</p>
        <p>・システム上の障害による本サービスの中断・遅延またはデータ等の毀損・消滅。</p>
        <p>・本サービス内外での他の利用者その他の者との紛争。</p>
    </ul>
    <p>当方は、このウェブサイトに第三者のインターネットサービスへのリンク（バナー広告等を含む。）を設けることがあります。当方は、利用者がこれらのインターネットサービスを利用することに関して一切責任を負いません。<br>
    当方は、不正アクセスにより利用者に被害が生ずることがないよう、ファイアウォールその他の合理的な装置を講じます。これらの措置にもかかわらず不正アクセスが行われ利用者に損害が生じた場合でも、当方は責任を負いません。<br>
    当方は、このウェブサイトまたは本サービスに関して利用者からなされる一切の問い合わせについて、回答を行う責任を負いません。</p>
    <hr>
    <h3>第12条　準拠法</h3>
    <p>本サービスその他本規約に関する準拠法は日本法とします。</p>
    <hr>
    <h3>第13条　管轄裁判所</h3>
    <p>利用者と当方との間で紛争が生じた場合、東京地方裁判所を専属的管轄裁判所とします。</p>
    <hr>
    <h3>付則</h3>
    <p>この規約は、2018年6月1日より効力を発するものとします。<br>
  本規約に同意されない場合は、本サービスの利用を直ちに終了してください。</p>
    <hr>

    <div style="background: rgba( 0, 0, 0, 0.1);">
  	    <div style="margin: 50px;">
            <h3>個人情報保護方針</h3>
            <p>当方は個人情報保護法その他関連法令を順守いたします。取り扱う個人情報の紛失、滅失、改ざんおよび漏洩の防止など、個人情報の安全管理のために必要かつ適切な措置を行います。取得した個人情報は、当方のプライバシー・ポリシーに定める利用目的の範囲内でのみ利用いたします。個人情報保護のために管理体制を継続的に見直し、改善いたします。</p>
            <div style="text-align: right;">
              <i>2018年6月 仲村拓人</i>
            </div>
        </div>
    </div>
</div>