<% breadcrumb :postRule %>
<div class="row">
  <div class="col-xs-9">
  	<h1>Community</h1>
  	<hr>
  	<div class="about">
	  <%= image_tag ('community.png'), style:"width:100%;" %>
    </div>
  </div>
   <%= render partial: "layouts/sidebar" %>
</div>