// Place all the styles related to the gourmets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box-gourmet{
  background-image: url(images/bg3.jpg);
  margin: 2em 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.box-gourmetbody{
  padding: 0 20px 20px 20px;
}
.box-gourmet .box-head {
  background: #FFBBFF;
  padding: 0 30px;
  margin: 0;
  border-radius: 10px;
}
.box-gourmet .box-title{
  border-left: 5px solid #c92ad2;
  font-size: 25px;
  padding: 0 10px;
  margin: 0;
}
.box-gourmet p{

}
.gourmetFavorite{
  margin-top: 20px;
}
.commentFlame{
  background: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.g-top{
  border-left: 5px solid #c92ad2;
  font-size: 20px;
  padding: 0 10px;
  margin: 0;
}
