<div class="col-xs-3 sidbar">
  <div class="sidbar-menu">
    <a href="/posts"><div class='sidmenu-item', style="letter-spacing: -0.04em;">Community</div></a>
    <a href="/gourmets"><div class='sidmenu-item'>Gourmet</div></a>
    <a href="/columns"><div class='sidmenu-item'>Column</div></a>
    <a href="/studys"><div class='sidmenu-item'>Study</div></a>
    <a href="/about"><div class='sidmenu-item'>About</div></a>
  </div>
</div>